<div class="aPost" style="color:white;">
<a href="posts/<%= post.slug %>"> 
  <h2 class="title primary clientTitle"><%= post.title %></h2>
    </a>
  <small><%= post.date.toLocaleDateString() %></small>
  <!-- If error here loop .FOREACH -->
  <small style="display: block;"><%= post.tags[0], post.tags[1], post.tags[2] %></small>
  <p><%= post.description %></p>
  <a href="/posts/<%=post.slug %>" class="primary" >
    <i class="primary" style="text-decoration: underline; font-size: .8rem; padding-top:1rem">Check it out
    </i>
  </a>
</div>