<div class="featured" style="margin-top: 5rem;">
    <p class="white">Latest...</p>
    <a href="/posts/<%= posts[0].slug  %>">
      <h1 class="title primary clientTitle"><%= posts[0].title %></h1>
      </a>
    <p class="summary white" style="padding: .5rem 0;"><%= posts[0].description %></p>
    <div class="meta white" style="display: flex; flex-direction: row;">
      <p class="date" style="padding-right: 5px;"><%= posts[0].date.toLocaleDateString() %></p>
      <p class="tags" style="padding-right: 5px;"><%= posts[0].tags %></p>
    </div>
    <a href="/posts/<%= posts[0].slug %>">
    <i class="primary" style="text-decoration: underline; font-size: .8rem; padding-top:1rem">Check it out
    </i>
    </a>
</div>

<p class="center white">Other posts</p>
<div class="posts">
  <% posts.shift() %>
  <% posts.forEach(function(post){ %>
    <%- include(path, {post: post}); %>
  <% }); %>